@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.title-bg-color {
    background-color: #8f5eeb;
}

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.memory-game-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.game-level{
    background-color: tomato;
    border: 2px solid black;
    text-align: center;
}

.game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;

}  
 
.back {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  border-radius: 5px;
}

.front {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  border-radius: 5px;
}

