@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

/*-----------------------------hover.CSS-----*/
.title-bg-color {
    background-color: #334156;
}
.htp-menu-color {
    background-color: #577590;
}

.l1-menu-color {
    background-color: #F8961E;
}

.l2-menu-color {
    background-color: #F3722C;
}

.l3-menu-color {
    background-color: #F94144;
}

.pa-menu-color {
    background-color: #577590;
}

/*-----------------------------hover.CSS-----*/
.hvr-sweep-to-right:before {
    background: rgba(0,0,0,0.2);
    height: 100px;
}

/*-----------------------------header-----*/
.header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    text-align: center;
}

.memory-game-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: whitesmoke;
   /* height: 100px;*/
    text-align: center;
}

/*-----------------------------Navbar-----*/
.game-level {
    text-align: center;
    color: whitesmoke;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin: 0;
    border: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.memuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}
/* -----------------review */
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    height: 100px;
}
.menuitem a i {
    padding-top: 22px;
    display: block;
    color: whitesmoke;
    font-size: 26px;
    text-align: center;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
/*-------------------review--------*/

 /*-----------------------------Cards-----*/
.game {
  width: 100%;
  background-color: #577590;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
}  
 
.back {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  border-radius: 5px;
}

.front {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  border-radius: 5px;
}

/*-----------------------------Footer-----*/
.footer-style {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: whitesmoke;
    background-color: #334156;
    text-align: center;
    min-height: 100px;
}

/*-----------------------------Time/Moves/Score-----*/
.performance {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
   /* background-color: #456799;*/
    text-align: center;
    min-height: 33px;
    /*color: whitesmoke;
     background-color: #334156;*/
}

/*-----------------------------Info Section-----*/
.info {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    height: 100%;
    color: whitesmoke;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.info-section {
    height: 640px;
    /*background-color: #577590;*/
    background-color: #334156;

}